<div>
    <div class="input-group checkListWidth">
        <input type="text" class="form-control" placeholder="Check list...">
        <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Add items</button>
                    </span>
    </div>
    <div class="input-group checkListItem">
        <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
        <input type="text" class="form-control" placeHolder="Item...">
    </div>
    <div class="input-group checkListItem">
        <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
        <input type="text" class="form-control" placeHolder="Item...">
    </div>
    <button type="button" class="btn btn-primary">Save</button>
</div>
