<div>
    <div class="input-group checkListWidth">
        <input type="text" class="form-control" placeholder="Check list..." [(ngModel)]="checkList.name">
        <span class="input-group-btn">
             <button class="btn btn-secondary" type="button">Add items</button>
         </span>
    </div>
    <div class="input-group checkListItem" *ngFor="#item of checkList.itemList">
        <span class="input-group-addon">
            <input type="checkbox">
        </span>
        <input type="text" class="form-control" placeHolder="Item..." [(ngModel)]="item.text">
    </div>
    <button type="button" class="btn btn-primary">Save</button>
</div>
