.mt10{
	margin-top:10px;
}
.mt50{
	margin-top:50px;
}
.mt5{
	margin-top:5px;
}
.mt20{
	margin-top:20px;
}
.mb20{
	margin-bottom:20px;
}
.mb50{
	margin-bottom:50px;
}
.mb0{
	margin-bottom:0px;
}
.mr50{
	margin-right:100px;
}
.ml70{
	margin-left:70px;
}
.top70{
	top:70px;
}
.top50{
	top: 50px;
}
.top30{
	top:30px;
}
.top25{
	top:25px;
}
.top25p{
	top:25%;
}
.left130p{
	left:130px;
}
.left115p{
	left:115px;
}
.left50{
	left: 50px;
}
.left30{
	left:30px;
}
.left30p{
	left:30%;
}
.left20{
	left:20px;
}
.padLeft0{
	padding-left: 0px;
}
.padLeft10{
	padding-left: 10px;
}
.padLeft45{
	padding-left:45px;
}
.padTop20{
	padding-top:20px;
}
.padTop10{
	padding-top:10px;	
}
.padRight0{
	padding-right: 0px;
}
.padRight40{
	padding-right:40px;
}
.padRight10{
	padding-right:10px;
}
.width100P{
	width:100%;
}
.width85p{
	width:85%;
}
.width60p{
	width:60%;
}
.width50p{
	width:50%;
}
.width45p{
	width:45%;
}
.width40p{
	width:40%;
}
.width30p{
	width:30%;
}
.width20p{
	width:20%;
}
.width10p{
	width:10%;
}
.borderLeft{
	border-left: 1px solid #DDD;
}
.borderBottom{
	border-bottom:1px solid #DDD;
}
.bbDashed{
	border-bottom: 1px dashed #DDD;
}
.inlineBlock{
	display:inline-block;
}
.block{
	display:block;
}
.posRel{
	position: relative;
}
.posAbs{
	position:absolute;
}
.right0p{
	right:0px;
}
.right15{
	right:15px;
}
.marginAuto{
	margin:auto;
}
.textCenter{
	text-align:center;
}
.height45p{
	height:45%;
}
