<nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="#">Time Sheet</a>
        <ul class="nav navbar-nav navList">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['Track']">Track <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['WIP']">WIP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['History']">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <span class="nav-item" (click)="$event.preventDefault()" class="pull-xs-right">
                <span dropdown [isOpen]="false">
                    <a href id="simple-dropdown" dropdownToggle>User</a>
                    <ul class="dropdown-menu leftN100p" aria-labelledby="simple-dropdown">
                        <li>
                            <a class="dropdown-item" href="#">Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" (click)="openSettings()">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Log out</a>
                        </li>
                    </ul>
                </span>
        </span>
    </div>
</nav>
<router-outlet></router-outlet>
<style>
.navbar {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.navList {
    position: absolute;
    left: 15%;
    width: 60%;
    padding-left: 5%;
}
.navList li{
    margin-left:3%;
}
</style>
