<div class="checkList">
    <form (ngSubmit)="onSubmit()" #checkListForm="ngForm">
        <div class="input-group checkListWidth">
            <input type="text" class="form-control" placeholder="Check list..." [(ngModel)]="checkList.name" ngControl="name" #name="ngForm">
            <span class="input-group-btn">
             <button class="btn btn-secondary" type="button" (click)="addNewItem()">Add items</button>
         </span>
        </div>
        <div class="input-group checkListItem" *ngFor="#item of checkList.itemList">
            <span class="input-group-addon">
            <input type="checkbox" [(ngModel)]="item.done"  ngControl="itemStatus" #itemStatus="ngForm">
            </span>
            <input type="text" class="form-control mr10 width85p" placeHolder="Item..." [(ngModel)]="item.text" ngControl="itemText" #itemText="ngForm">
            <button class="removeBtn btn btn-primary-outline"><i class="fa fa-trash font1P5"></i></button>
        </div>
        <button type="submit" class="btn btn-primary mt50">Save</button>
    </form>
</div>
<div class="inlineBlock padLeft45">
    <table>
        <tr>
            <th>Started At :</th>
            <td>
                <div [class]="editableClass">
                    <input type="text" placeholder="5:00 PM" [class]="editFieldClass" [disabled]="editDisabled" #startTime />
                    <button class="editBtn btn btn-primary-outline" (click)="editField(startTime)">
                        <i class="fa  fa-pencil-square-o"></i>
                    </button>
                    <button class="closeBtn btn btn-primary-outline" (click)="cancelEdit()">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <th>Comments :</th>
            <td>Trivial task of fixing nothing but bunch of errors</td>
        </tr>
        <tr>
            <th>Labels :</th>
            <td>Project 1, Bug, Internal</td>
        </tr>
    </table>
</div>
<style>
.editable, .editableActive{
    overflow:auto;
}
.editableField {
    border-color: transparent;
    background-color: transparent;
}
.editBtn, .closeBtn{
    display: none;
    float:right;
    color:rgba(0, 0, 0, 0.48);
    border-color:transparent;
}
.editable:hover{
    border:1px solid #ddd;
}
.editableActive{
    border:1px solid #ddd;
}
.editable:hover > .editBtn, .editableActive:hover > .closeBtn {
    display: inline-block;
}
.editBtn:hover,.closeBtn:hover{
    background-color:rgba(85, 104, 120, 0.68);
    color:white;
    border-color:transparent;
}
.checkList {
    display: inline-block;
    width: 50%;
    padding: 10px;
    border-right: 2px dashed lightGray;
}

.checkListWidth {
    width: 85%;
    margin-top: 20px;
}

.checkListItem {
    width: 100%;
    margin-top: 20px;
    margin-bottom: : 20px;
}

.checkListItem:hover .removeBtn {
    visibility: visible;
}

.removeBtn {
    visibility: hidden;
    position: absolute;
    border-color: transparent;
    width: 10%;
}

table {
    position: absolute;
    top: 20px;
    height: 150px;
    width: 45%;
}
</style>
