<div [class]="editableClass">
    <input type="text" [(ngModel)]="model" placeholder="5:00 PM" [class]="editFieldClass" [disabled]="editDisabled" #startTime />
    <button class="editBtn btn btn-primary-outline" (click)="editField(startTime)">
        <i class="fa  fa-pencil-square-o"></i>
    </button>
    <button class="closeBtn btn btn-primary-outline" (click)="cancelEdit()">
        <i class="fa fa-times"></i>
    </button>
</div>
<style>
.editable,
.editableActive {
    overflow: auto;
}

.editableField {
    border-color: transparent;
    background-color: transparent;
}

.editBtn,
.closeBtn {
    display: none;
    float: right;
    color: rgba(0, 0, 0, 0.48);
    border-color: transparent;
}

.editable:hover {
    border: 1px solid #ddd;
}

.editableActive {
    border: 1px solid #ddd;
}

.editable:hover > .editBtn,
.editableActive:hover > .closeBtn {
    display: inline-block;
}

.editBtn:hover,
.closeBtn:hover {
    background-color: rgba(85, 104, 120, 0.68);
    color: white;
    border-color: transparent;
}
</style>
