<div class="row">
    <div class="col-md-3">
        <div class="taskNameList padLeft0 padRight0 top50 left50 mr50 mb50">
            <ul class="list-group mb0">
                <li class="list-group-item taskItem" *ngFor="#wip of wipList" (click)="setCurrentTask(wip)">{{wip.name}}</li>
            </ul>
        </div>
        <nav class="taskListNav top30">
            <pager [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="taskListPage" onPageChanged="pageChanged($event)"></pager>
        </nav>
    </div>
    <div class="col-md-9 taskDesc padTop20">
        <task-detail *ngIf="selectedWip" [wip]="selectedWip">loading task details...</task-detail>
    </div>
</div>
<style>
.taskItem:hover {
    cursor: pointer;
}

.taskDesc {
    border: 4px solid rgb(221, 221, 221);
    width: 60%;
    position: relative;
    top: 50px;
    border-radius: 7px;
    background-color: white;
}

.taskNameList {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 7px;
}

.taskListNav {
    position: relative;
}
</style>
