<div class="container posAbs width40p top25p left30p">
    <h3 class="textCenter">Welcome to Time Sheet!</h3>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
            <div class="posRel">
                <input id="username" type="text" placeholder="Username" class="noBorder block width100P" />
                <div class="line focusWidth100p"></div>
            </div>
            <div class="posRel">
                <input id="password" type="text" placeholder="Password" class="noBorder block width100P" />
                <div class="line focusWidth100p"></div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Sign In</button>
            <a class="posAbs right15" href="#">Forgot your password?</a>
        </div>
    </form>
</div>
<style type="text/css">
input.noBorder:focus + .line {
    width: 100%;
    z-index: 1;
}
</style>
