<div class="container">
    <div class="row timeForm">
        <form (ngSubmit)="onSubmit(taskForm.value)" [ngFormModel]="taskForm">
            <div class="col-sm-3">
                <input id="someinput" type="text" placeholder="Status" class="noBorder fullWidthBlock" [(ngModel)]="model.status" [ngFormControl]="taskForm.controls.status" />
                <div class="line"></div>
            </div>
            <div class="col-sm-2">
                <input type="text" placeholder="task" class="noBorder fullWidthBlock" [(ngModel)]="model.name" [ngFormControl]="taskForm.controls.name" />
                <div class="line"></div>
            </div>
            <div class="col-sm-3 left15 topN30">
                <time-estimate [(ngModel)]="model.timeEstimate" class="posRel top" [ngFormControl]="taskForm.controls.timeEstimate"></time-estimate>
            </div>
            <div class="col-sm-3">
                <input type="text" placeholder="comments" class="noBorder fullWidthBlock" [(ngModel)]="model.comments" [ngFormControl]="taskForm.controls.comments" />
                <div class="line"></div>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary-outline" [disabled]="!taskForm.valid"><i class="fa fa-check"></i></button>
            </div>
        </form>
    </div>
</div>
<style>
.container {
    position: relative;
    width: 100%;
    top: 120px;
}
</style>
