<div class="taskListComp">
    <ul class="list-group taskList">
        <div *ngFor="#wip of currentPageItems">
            <li (click)="toggleCheckList(wip)" [class]="wip.taskClass">
                <span class="taskName width45p">{{wip.name}}</span>
                <span class="label label-success">progress</span>
                <progress class="progress progress-success taskProgress" value="{{wip.checkListProgress}}" max="100">25%</progress>
                <span class="label label-success">time</span>
                <progress class="progress progress-warn taskProgress" value="{{wip.timeProgress}}" max="100">95%</progress>
            </li>
            <li *ngIf="wip.checkList" [class]="wip.checkListClass">
                <checklist [checkList]="wip.checkList"></checklist>
                <div class="inlineBlock padLeft45">
                    <table>
                        <tr>
                            <th>Status :</th>
                            <td>
                            	<editable [model]="wip.startTime"></editable>
                            	<!-- TODO: Make this editable a typeahead enabled one.
                                <input [(ngModel)]="selected" [typeahead]="statusList" class="form-control"> -->
                            </td>
                        </tr>
                        <tr>
                            <th>Started At :</th>
                            <td>
                                <editable [model]="wip.startTime"></editable>
                            </td>
                        </tr>
                        <tr>
                            <th>Comments :</th>
                            <td>
                                <editable [model]="wip.comments"></editable>
                            </td>
                        </tr>
                        <tr>
                            <th>Labels :</th>
                            <td>
                                <editable [model]="wip.labels"></editable>
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
        </div>
        <pager [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" onPageChanged="pageChanged($event)" [disabled]="currentPageItems" [hidden]="!wipList"></pager>
    </ul>
    <alert *ngFor="#alert of alerts;#i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)" dismissOnTimeout="10000">
        {{ alert?.msg }}
    </alert>
</div>
<style>
alert {
    display: block;
    width: 40%;
    margin: auto;
    text-align: center;
}

.progress {
    height: 1%;
    margin: 0 auto;
}

.taskList div li:first-child:hover {
    cursor: pointer;
}

table {
    position: absolute;
    top: 20px;
    height: 150px;
    width: 45%;
}
</style>
