<div class="taskListComp">
    <ul class="list-group taskList">
        <div *ngFor="#wip of currentPageItems">
            <li (click)="toggleCheckList(wip)" [class]="wip.taskClass">
                <task-progress [wip]="wip"></task-progress>
            </li>
            <li *ngIf="wip.checkList" [class]="wip.checkListClass">
                <checklist [checkList]="wip.checkList"></checklist>
                <div class="inlineBlock padLeft45">
                    <table class="task-desc-table">
                        <tr>
                            <th>Status :</th>
                            <td>
                            	<editable [model]="wip.startTime"></editable>
                            	<!-- TODO: Make this editable a typeahead enabled one.
                                <input [(ngModel)]="selected" [typeahead]="statusList" class="form-control"> -->
                            </td>
                        </tr>
                        <tr>
                            <th>Started At :</th>
                            <td>
                                <editable [model]="wip.startTime"></editable>
                            </td>
                        </tr>
                        <tr>
                            <th>Comments :</th>
                            <td>
                                <editable [model]="wip.comments"></editable>
                            </td>
                        </tr>
                        <tr>
                            <th>Labels :</th>
                            <td>
                                <editable [model]="wip.labels"></editable>
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
        </div>
        <pager [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" onPageChanged="pageChanged($event)" [disabled]="currentPageItems" [hidden]="!wipList"></pager>
    </ul>
    <alert *ngFor="#alert of alerts;#i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)" dismissOnTimeout="10000">
        {{ alert?.msg }}
    </alert>
</div>
<style>
alert {
    display: block;
    width: 40%;
    margin: auto;
    text-align: center;
}

.taskList div li:first-child:hover {
    cursor: pointer;
}

table {
    position: absolute;
    top: 20px;
    height: 150px;
    width: 45%;
}
</style>
