<form>
  <fieldset class="form-group">
<div class="c-inputs-stacked">
  <label class="c-input c-radio">
    <input id="radioStacked1" name="radio-stacked" type="radio">
    <span class="c-indicator"></span>
    Blue Jeans
  </label>
  <label class="c-input c-radio">
    <input id="radioStacked2" name="radio-stacked" type="radio">
    <span class="c-indicator"></span>
    Zagged Space
  </label>
  <button type="button" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-primary">Cancle</button>
</div>
</fieldset>
</form>
